<h1>Welcome to the Dessert Haven</h1>

<div class="dishes">
  <div>
  <img src="http://placekitten.com/200/300" alt="shakes">
  </div>
  <div>
  <img src="http://placekitten.com/200/300" alt="sundaes">
  </div>
  <div>
  <img src="http://placekitten.com/200/300" alt="waffles">
  </div>
  <div>
  <img src="http://placekitten.com/200/300" alt="cakes">
  </div>
</div>
